.row {
    max-width: 100%;
}

.split-pane .row {
    max-width: 100%;
}

.split-pane {
    position: relative;
}

.split-pane button {
    font-family: 'Calibri', sans-serif;
    font-weight: 900;
    background-color: rgb(255, 255, 255, 0.2);
    border: 3px solid #ffffff;
    border-radius: 5px;
    width: 12em;
    top: 50%;
    position: absolute;
    padding: 0.3em;
    padding-top: 0.7em;
    font-size: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    transform: translate(-50%, -50%);
}

.split-pane button:hover {
    text-decoration: none;
    color: #333333;
    background-color: rgb(255, 255, 255);
    border-color: white;
    cursor: pointer;
}

.image-food {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 100%;
}

.image-tex {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 100%;
}

img {
    max-width: 104.60%;
    max-height: 100%;
    /* opacity: .8; */
    z-index: 100;
}

.image-food img:hover,
.image-tex img:hover {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0.8;
}


/* Style the footer */

.footer {
    position: relative;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #4e4e4e;
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
}

.footer p {
    font-size: 80%;
    color: #f2f2f2;
}

.footer h6 {
    color: #f2f2f2;
}

.footer .row {
    padding-top: 15px;
    max-width: 100%;
}